@import "fonts";
@import "vars";
@import "global";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1220px;
  @media (min-width: 993px) {
    position: relative;
    z-index: 15;
    height: 80px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
}

.logo-img {
  width: 202px;
}

.logo-img-mobile {
  display: none;
}

.logo-text-mobile {
  display: none;
}

.nav-top {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 768px) {
    background-color: #fff;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 20px;
    transform: translateY(11%);
    box-shadow: 1px 5px 5px #444444;
    text-align: center;
    justify-content: space-around;
    height: 400px;
    width: 150px;
    z-index: 3;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s all;
  }
}

.nav-ul-li:not(:last-child) {
  margin-right: 36px;
}

@media only screen and (max-width: 768px) {
  .nav-top .nav-ul-li:not(:last-child) {
    margin-right: 0;
  }
}

.nav-ul-li-a {
  transition: color 0.3s ease-in-out;
  font-size: 20px;
  display: block;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 4px 0;
  transition: all 0.1s ease-in-out;
  position: relative;

  &:hover::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
}

.burger {
  @media only screen and (min-width: 769px) {
    display: none;
  }
}

#check-burger {
  display: none;
}

#check-burger:checked ~ .nav-top {
  opacity: 1;
}

.burger-span {
  display: block;
  cursor: pointer;
  padding: 10px;
  margin-right: -10px;
}

.burger-line {
  width: 30px;
  height: 2px;
  background: #000;
  transition: 0.3s all;
}

.second {
  position: absolute;
}

.first,
.third {
  margin-bottom: 5px;
}

#check-burger:checked ~ label .burger-span .burger-line.first {
  display: none;
}

#check-burger:checked ~ label .burger-span .burger-line.second {
  transform: rotate(45deg);
  background: #f8c10c;
  height: 2px;
}

#check-burger:checked ~ label .burger-span .burger-line.third {
  transform: rotate(-45deg);
  background: #f8c10c;
}

#check-burger:checked ~ label .burger-span .burger-line.fourth {
  display: none;
}

.site-title {
  margin: 0;
  margin-bottom: 42px;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
}

.fa-chevron-down {
  position: relative;
  top: 1px;
  transition: color 0.3s ease-in-out;
}

.hero {
  margin-bottom: 82px;
  position: relative;
  @media (min-width: 993px) {
    top: -80px;
    z-index: 10;
  }
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  min-height: 696px;
  background-image: url("@img/hero-bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero-content {
  display: flex;
  align-items: center;
  padding: 140px 40px;
}

.hero-banner-img {
  align-self: flex-end;
  width: 552px;
}

.hero-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 60px;
  max-width: 414px;
}

.hero-subtitle {
  margin: 0;
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 283px;
}

.hero-btn-text {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  padding: 20px 26px;
  border: 1px solid transparent;
  background-color: #68b738;
  transition: background-color, color 0.2s ease-in-out;

  &:hover.hero-btn-text {
    color: #68b738;
    border: 1px solid #68b738;
    background-color: #fff;
  }
}

.hero-img.hidden {
  display: none;
}

.sect-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, auto));
  justify-content: center;
  gap: 80px;
}

.sect-banner-container {
  padding: 40px 50px;
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sect-first-row {
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.sect-banner-img {
  margin-right: 62px;
}

.sect-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.sect-subtitle {
  font-family: "Lato", sans-serif;
  margin: 0;
  margin-bottom: 23px;
}

.sect-icon-item {
  width: 80px;
  height: 80px;
  background-color: #68b738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sect-btn-next-to {
  display: flex;
  align-items: center;
  margin-top: auto;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in-out;

  &:hover {
    border-bottom: 1px solid currentColor;
  }
}

.sect-btn-text {
  margin: 0;
  margin-right: 28px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}

.fa-arrow-right-long {
  position: relative;
  top: 2px;
}

.features {
  margin-bottom: 71px;
}

.panel-content {
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  gap: 94px;
}

.panel-banner {
  height: 280px;
  width: 230px;
  position: relative;
}

.panel-banner-container {
  background-color: transparent;
  padding: 0;
}

.panel-subtitle {
  margin: 0;
  max-width: 190px;
  font-family: "Lato", sans-serif;
  position: relative;
  z-index: 5;
}

.sect-icon-item {
  margin-bottom: 31px;
}

.sect-banner-bg-img {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}

.live-example {
  background-color: #eaeaea;
  padding-bottom: 75px;
}

.live-example-content {
  display: flex;
  justify-content: space-between;
}

.live-example-title-container {
  background-color: #fff;
}

.live-example-site-title {
  margin: 0;
  padding-bottom: 76px;
}

.live-example-banner-container {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}

.live-example-subtitle {
  font-family: "Lato", sans-serif;
  color: #444444;
  max-width: 436px;
  margin: 0;
  margin-bottom: 70px;
}

.live-example-row {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 55px;
  }
}

.live-example-columns {
  display: flex;
  flex-direction: column;
}

.live-example-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 31px;
  width: 162px;
  height: 77px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.live-example-column-title {
  margin: 0;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.live-example-column-subtitle {
  position: absolute;
  top: 85%;
  margin: 0;
  width: 85px;
  font-size: 14px;
  line-height: 14px;
  background-color: #eaeaea;
  text-transform: lowercase;
  text-align: center;
}

.live-example-sign {
  font-size: 20px;
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 160px;
  }
}

.slider-item {
  width: 600px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-item {
  background-image: url("@img/after.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  width: 349px;
  height: 500px;
  margin: 0;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
}

#divisor,
.comparison {
  background-image: url("@img/before.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 50%;
  bottom: 0;
  height: 100%;
}

.slider {
  position: relative;
  left: -4px;
  width: 360px;
  -webkit-appearance: none;
  appearance: none;
  height: 14px;
  background-color: #dcdcdc;
  border-radius: 6px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:focus {
  outline: none;
}

.slider:active {
  outline: none;
}

.slider::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  outline: none;
}

.slider::active {
  border: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background-color: #68b738;
  cursor: pointer;
  border: 12px solid #fff;
  border-radius: 100%;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background-color: #68b738;
  cursor: pointer;
  border: 13px solid #fff;
  border-radius: 100%;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
}

.slider-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  padding-top: 57px;
  padding-bottom: 57px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-logo-ce {
  width: 128px;
}

.socials {
  display: flex;
  align-items: center;
}

.footer-link:not(:last-child) {
  margin-right: 27px;
}

.socials-img.vk {
  width: 30px;
}

.socials-img.ig {
  width: 22px;
}

.socials-img.fb {
  width: 28px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo-text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.footer-logo-text-link {
  margin-right: 22px;
}

.footer-logo-img {
  width: 27px;
}

@import "adaptive";
